
<div class="record-view-wrapper">
  <h1>Haz tu pedido!</h1>

  <p>
    (Graba la tienda, productos, cantidad, referencia y marca de lo que necesitas)
  </p>

  {{#unless isRecording}}
  <a class='btn-record' {{action 'record'}}></a>
  {{else}}
  <a class='btn-record btn-record-touch' {{action 'stop'}}>
    <div class="spinner"></div>
  </a>
  {{/unless}}
  <br>
  <button {{action 'play'}}>Play</button>
  <button {{action 'upload'}}>Upload</button>

</div>
